{% extends 'base.html.twig' %}
{% block body %}

<meta charset="UTF-8" />
<title>{% block title %}Projet personnel{% endblock %}</title>
    <br><h1 align="center"style="font-size: 30px; color: white ; background-color: olive ">Page de modification en base</h1></br>


<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<h2  align="center"style="text-decoration:underline">Veuillez sélectionner la personne à modifier</h2><br>

<div align="center">

 {% for musicien in musiciens %}
    <p><a style="color:gold" href="{{ path('musicien_edit', {'id':musicien.id}) }}">{{ musicien.name }} - {{ musicien.instrument }} - {{ musicien.mail }}
    </a></p>
{% endfor %}
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
{% endblock %}
