<meta charset="UTF-8" />
<title>{% block title %}Projet perso{% endblock %}</title>
{% block stylesheets %}Ceci est la page de modification en base{% endblock %}
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}Veuillez sélectionner la personne à modifier {% endblock %}

<h1>Tous les Musiciens</h1>

 {% for musicien in musiciens %}
    <p><a href="{{ path('musicien_edit', {'id':musicien.id}) }}">{{ musicien.name }} - {{ musicien.instrument }} - {{ musicien.mail }}
    </a></p>

{% endfor %}
{% block javascripts %}{% endblock %}
</body>
</html>

