
<br>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}projet perso{% endblock %}</title>
    {% block stylesheets %}Ceci est la page de vue d'un musicien{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
{% block body %}Musiciens{% endblock %}

<h1>Le musicien {{ musicien.getId() }} est sélectionné : </h1>
<table>
            <tr>
            <td>{{ musicien.getName() }}</td>
            <td>{{ musicien.getInstrument() }}</td>
            <td>{{ musicien.getMail() }}</td>
            <td>{{ musicien.getCreatedAt() | date('d/m/Y H:i') }}</td>
        </tr>

</table>
{% block javascripts %}{% endblock %}
</body>
</html>
