{% extends 'base.html.twig' %}
{%  block body%}
<html>
<head>
    <meta charset="UTF-8" />
    <br><h1 align="center"style="font-size: 30px; color: white ; background-color: olive ">Page de suppression en base</h1></br>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<h2  align="center"style="text-decoration:underline">Veuillez sélectionner la personne à supprimer</h2><br>

<table align="center">
        <tr class="table-danger">
        <th>Nom</th>
        <th>Instrument</th>
        <th>Email</th>
        <th>Date de création</th>
        <tr>
        {% for key,musicien in musiciens %}
            <td>{{ musicien.getName() }}</td>
            <td>{{ musicien.getInstrument() }}</td>
            <td>{{ musicien.getMail() }}</td>
            <td>{{ musicien.getCreatedAt() | date('d/m/Y H:i') }}</td>
            <td> <a class="btn btn-danger" href="{{ path('musicien_remove_id', {'id': musicien.id} ) }}" role="button"> Suppression d'un musicien en base</a></td>
        </tr>
    {% endfor %}
</table>
<br>
{% block javascripts %}{% endblock %}
</body>
</html>
{% endblock %}