
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}projet perso{% endblock %}</title>
    {% block stylesheets %}Ceci est la page de vue d'un musicien{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}Ajouter un Musicien{% endblock %}

{{ form_start(formMusicien) }}
    {{ form_row(formMusicien.name) }}
    {{ form_row(formMusicien.instrument) }}
    {{ form_row(formMusicien.mail) }}
<input type="submit" value="Enregistrer le musicien" />
{{ form_end(formMusicien) }}



{% block javascripts %}{% endblock %}
</body>
</html>
